.Username {
  font-weight: 400;
  font-size: calc(16rem / 16);
  letter-spacing: -0.03em;
  color: var(--grey-6);

  &.vertical {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(180deg);
  }
}
