.Avatar {
  object-fit: cover;
  width: calc(48rem / 16);
  height: calc(48rem / 16);
  border-radius: 100%;
  aspect-ratio: 1;

  box-shadow: 0 calc(2.4rem / 16) calc(6.4rem / 16) rgba(0, 0, 0, 0.17);
}
